*{
    padding: 0;
    margin: 0;
    
}

.flex-area{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*-------LANDING--------*/

#landing{
    background-image: url(images/lotr-hero.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

/*--------MAP SCROLL---------*/
#map-spot1{
    background-image:url(images/mapback1.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    
}


.map-image{
    width: 50%;
    margin: 0 50px 0 50px;
}

.map-text{
    width: 50%;
    align-items: center;
    margin: 10px 100px 10px 100px;
}

#map-spot2{
    background-image: url(images/mapback2.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
   
}


/*--------CHARACTER SPOTLIGHT---------*/
#map-character1{
    background-color: rgb(52, 90, 59);
    width: 100%;
    height: 100vh;
    position: relative;
}

.char-image{
    width: 100%;
    margin: 50px 40px 0 50px;
}

#orc{
    margin: 150px 0px 0px 70px;
}

#orc-text{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    padding-left: 10px;
}
#dwarve-text{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-right: 30px;
}

#hobbit-text{
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    padding-right: 30px;
    margin-left:500px;
}

#hobbits{
    position: absolute;
   margin: 0;
   left: 100px;
}
#hobbits1{
    position: absolute;
    margin: 0;
    left: 400px;
}
/*--------RING SECTION------------------*/

#ring-section{
    background-color:rgb(243, 235, 212);
    width: 100%;
    height: 120vh;
    position: relative;
}

.ring-image{
    width: 100%;
    align-items: center;
    margin-left: 200px;
    overflow: hidden;
}

.ring-text1{
    position: absolute;
    top: 100px;
    left: 70px;
    font-size: 40px;

}
.ring-text2{
    position: absolute;
    bottom: 100px;
    right: 7px;
    font-size: 18px;
    padding-left: 1100px;
    padding-right:20px;
    
}
/*---------BOOK DISPLAY----------------*/

#book-description{
    background-color:rgb(243, 235, 212);
    width: 100%;
    height: 100vh;
    position: relative;
    border-top: solid;
    overflow: hidden;
}

.book-text{
    padding-top: 200px;
    height: 100%;
    width:50%;
    margin: 0 20px 0 50px;
    border-right: solid;
    padding-right:50px;
    line-height: 1.5;
}

.book-img{
    margin: 0 50px 0 50px;
    
    
}


h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 40px;
    margin: 0px 0px 0px 60px;
    font-size: 50px;
}

h4{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    padding-left: 40px;
    padding-right: 60px;
  
}


p{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}
