body{
    background-color: rgb(244, 243, 240);
}
h1 {
        margin-left: 150px;
        margin-top: 130px;
        font-size: 44px;
        font-family: "M PLUS Rounded 1c", serif;
        font-weight: 400;
        font-style: normal;
}

h4 {
    margin-left: 150px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

.rule{
    margin-left: 650px;
    margin-top: 100px;
    font-size: 20px;
    background-color: black;
    margin-right:1000px;
    padding: 70px;
    padding-left: 30px;
    padding-right: 50px;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 243, 240);
}

#num{ 
    position: absolute;
    margin-top: 10px;
    margin-left: -100px;
    font-size:40px;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    color: black;


}
.def{
    margin-top: 70px;
    margin-left: 720px;
    margin-right: 1120px;
    line-height: 1.5;
    padding-bottom: 150px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
span {
    display: inline-block;
    margin-left: 20px; 
}

img {
    width: 500px;
   height: 400px;
    position: absolute;
    margin-left: 1150px;
    margin-top: -50px;
  
  
}

.container {
    position: relative;
    
}